input{
    margin: 0.5em;
}
.input{
    border: 1px solid #AAA;
    outline: none;
    font-size:inherit;
    padding: .5em;
    border-radius: 0.25em;
}
.input:focus{
    border-color: #008754;
    box-shadow: 0 0 5px 0 #008754;
}
.input-success{
    border:1px solid #27AE60;
}
.input-success:focus{
    border:1px solid #2ECC71;
    box-shadow: 0 0 5px #2ECC71 ;
}
.input-error{
    border:1px solid red;
}
.input-error:focus{
    border:1px solid red;
    box-shadow: 0 0 5px red;
}
.input-large{
    font-size: 1.25em;
}
.input-small{
    font-size: 0.75em;
}
.input-disable{
    background-color: black;
}
