body{
    margin: 0px;
    text-align: center;
    font-family: "Merriweather",serif;
}
h1{
    margin-top: 0;
    font-family: "sacremato",cursive;
}
h2{
    font-family:"Montserrat",sans-serif;
}
h3{
    font-family: "Montserrat",sans-serif;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 20px solid;
}
.bottom-container{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 10px solid;
}
.End{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
